# Create API key: https://aistudio.google.com/app/apikey
GEMINI_API_KEY= 

# Enable YouTube Data API v3: https://console.cloud.google.com/marketplace/product/google/youtube.googleapis.com?q=search&referrer=search
# Get API Key Here: https://console.cloud.google.com/apis/credentials?
YOUTUBE_API_KEY= 